USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 12/24/2025 6:57:39 PM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[JoinDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NULL,
	[MemberID] [int] NULL,
	[LoanDate] [datetime] NULL,
	[DueDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[AuthorID] [int] NULL,
	[AvailableCopies] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ActiveLoans]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ActiveLoans] AS
SELECT 
    L.LoanID,
    M.FirstName + ' ' + M.LastName AS MemberName,
    B.Title AS BookTitle,
    L.LoanDate,
    L.DueDate
FROM Loans L
JOIN Members M ON L.MemberID = M.MemberID
JOIN Books B ON L.BookID = B.BookID
WHERE L.ReturnDate IS NULL; -- فقط وام‌های فعال را نشان بده
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName]) VALUES (1, N'david', N'seryyu')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [AuthorID], [AvailableCopies]) VALUES (1, N'Harry poter', N'234567', 1, 3)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [DueDate], [ReturnDate]) VALUES (1, 1, 1, CAST(N'2025-12-24T16:32:03.347' AS DateTime), CAST(N'2026-01-07T16:32:03.347' AS DateTime), CAST(N'2025-12-24T16:58:43.970' AS DateTime))
INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [DueDate], [ReturnDate]) VALUES (2, 1, 1, CAST(N'2025-12-24T17:16:07.260' AS DateTime), CAST(N'2026-01-07T17:16:07.260' AS DateTime), CAST(N'2025-12-24T17:17:02.213' AS DateTime))
INSERT [dbo].[Loans] ([LoanID], [BookID], [MemberID], [LoanDate], [DueDate], [ReturnDate]) VALUES (3, 1, 1, CAST(N'2025-12-24T17:28:19.697' AS DateTime), CAST(N'2026-01-07T17:28:19.697' AS DateTime), CAST(N'2025-12-24T17:29:06.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [FirstName], [LastName], [Email], [JoinDate]) VALUES (1, N'sepideh', N'shoghi', N'sepi@gmail.com', CAST(N'2025-12-24T16:19:20.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA95A73BB1]    Script Date: 12/24/2025 6:57:39 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_ISBN]    Script Date: 12/24/2025 6:57:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_ISBN] ON [dbo].[Books]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members__A9D10534CC667B9B]    Script Date: 12/24/2025 6:57:39 PM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Members_Email]    Script Date: 12/24/2025 6:57:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Members_Email] ON [dbo].[Members]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [AvailableCopies]
GO
ALTER TABLE [dbo].[Loans] ADD  DEFAULT (getdate()) FOR [LoanDate]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [JoinDate]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([AvailableCopies]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterLoan]    Script Date: 12/24/2025 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegisterLoan]
    @BookID INT,
    @MemberID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- شروع یک تراکنش (همه یا هیچ)
    BEGIN TRANSACTION;

    BEGIN TRY
        -- ۱. بررسی موجودی کتاب
        DECLARE @Stock INT;
        SELECT @Stock = AvailableCopies FROM Books WHERE BookID = @BookID;

        IF @Stock > 0
        BEGIN
            -- ۲. ثبت وام
            INSERT INTO Loans (BookID, MemberID, DueDate)
            VALUES (@BookID, @MemberID, DATEADD(day, 14, GETDATE())); -- تاریخ برگشت ۱۴ روز بعد

            -- ۳. کم کردن موجودی کتاب
            UPDATE Books SET AvailableCopies = AvailableCopies - 1 WHERE BookID = @BookID;

            -- تایید نهایی تراکنش
            COMMIT TRANSACTION;
            PRINT 'Loan registered successfully.';
        END
        ELSE
        BEGIN
            -- اگر موجودی نبود، کنسل کن
            ROLLBACK TRANSACTION;
            THROW 50001, 'Error: This book is out of stock.', 1;
        END
    END TRY
    BEGIN CATCH
        -- اگر هر خطای دیگری رخ داد، تراکنش را برگردان
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
